
.ui-autocomplete {
  z-index: 100;
  border: 1px solid lightgray !important;
  background: white;
  width: 40% !important;
  line-height: 2em;  
  padding: 0.5em;
}

ul {
    list-style-type: none !important;
    padding: 0 !important;
}

ul li {
    padding: 0.5em !important;
}

.ui-autocomplete li:hover {
  background: lightgray;
}
